.gallery {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding: 0;
  margin: 0;
}

.gallery li {
  width: calc((100% - 48px) / 3);
}

.gallery img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}
.modal {
  background-color: rgb(114, 114, 232);
}
